.iframe-container
{
    border-radius: 15px;
    border: 1px solid #777;
    width: fit-content;
    height: fit-content;
    overflow: hidden;
    background-color: black;
    box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.719);
}
.padding-20px
{
    padding: 20px;
    padding-top: 0;
}