.headshot
{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 1px solid black;
    box-shadow: 3px 3px 16px black;
}
.header-container
{
    padding: 20px;
    width: 100vw;
    background: repeating-linear-gradient(to right, #7777776b, #7777772c, #0b13867a);
    align-items: center;

}
h1
{
    text-shadow: 6px 6px 8px rgba(14, 0, 90, 0.664);
}
a
{
    color: #777;

}
