<div class="about-me-container flex-row padding-20px">
<div class="flex-row">
    <div class="flex-column">
    <h1>About Me</h1>
        
    <div class="flex-row"><div class="wrap-200px"><p>Software Engineer with over 20 years of experience. There are many languages and frameworks I've used and I am not opinionated. If the tool does the job, I'll use it.</p></div></div>
</div>

    <div class="flex-row">
        <div class="spacer-10px">&nbsp;</div><div class="spacer-10px">&nbsp;</div><div class="spacer-10px">&nbsp;</div><div class="spacer-10px">&nbsp;</div><div class="spacer-10px">&nbsp;</div>
        <div class="flex-column">
            <h4>Languages:</h4>
            <ul>
                <li>Java</li>
                <li>JavaScript</li>
                <li>TypeScript</li>
                <li>Perl</li>
                <li>PHP</li>
                <li>VBA</li>
                <li>Bash</li>
                
            </ul>
    </div>
    <div class="spacer-10px">&nbsp;</div><div class="spacer-10px">&nbsp;</div><div class="spacer-10px">&nbsp;</div><div class="spacer-10px">&nbsp;</div><div class="spacer-10px">&nbsp;</div><div class="spacer-10px">&nbsp;</div>
    <div class="flex-column">
        <h4>Frameworks (or libraries):</h4>
        <div class="flex-row">       
        <ul>
            <li>Angular</li>
            <li>Spring Boot</li>
            <li>Node.js</li>
            <li>Vue</li>
            
            
        </ul>
        <ul>
            <li>Vite</li>
            <li>React</li>
            <li>JavaFX</li>
            <li>Swing</li>
        </ul>   
        
    </div>
    </div>
    <div class="spacer-10px">&nbsp;</div><div class="spacer-10px">&nbsp;</div><div class="spacer-10px">&nbsp;</div><div class="spacer-10px">&nbsp;</div><div class="spacer-10px">&nbsp;</div><div class="spacer-10px">&nbsp;</div>
                            
                            <div class="flex-column">
                                <h4>Databases:</h4>
                                <ul>
                                    <li>Postgres</li>
                                    <li>MySQL</li>
                                    <li>SQL Server</li>
                                    <li>SQLite</li>
                                    <li>H2</li>
                                    <li>HSQLDB</li>
                                    <li>Apache Derby</li>
                                </ul>
                            
                            </div>
    
    </div>

</div>

</div>

<div class="padding-10px"><p>There are other technologies I have worked with so just ask if you're interested.</p>
    
</div>    

