<div class="go-fund-me-container">
  <h1>Crowd Funding</h1>
  <ul>
      <li><a href="https://gofund.me/43e10d13" title="UStudio Go Fund Me">UStudio Go Fund Me</a>
      <p>The UStudio is a device that I am building which will allow individuals to connect with other
        musicians and share their tracks, songs, lyrics, or whatever else they wish via their own cloud
        band space.</p>

      <p>The device runs Ubuntu Studio with the Ardour DAW suite and the JACK Patchbay.</p>
      <img src="assets/qr-code.png" alt="https://gofund.me/43e10d13"/>
  </li>
</ul>
</div>
