<div class="layout-container">
    <div class="vbox">
        <app-header class="header"></app-header>
        <div class="vbox">

            <div class="leftbar-container">
            
                <app-leftbar class="leftbar"></app-leftbar>
            
            
                <!-- <app-content class="content"></app-content> -->
                <div class="router-pane"><router-outlet class="router"></router-outlet></div>


            </div>
        </div>
        
        <!-- 
        <app-content></app-content><app-rightbar class="rightbar"></app-rightbar></div> -->
        <app-footer class="footer"></app-footer>
    </div>
</div>
