@import '../../../variables.scss';
.layout-container {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  border: 1px solid #777;
  width: calc(100vw - 90px);
  height: calc(100vh - 90px);
  overflow: auto;
  max-width: 100vw;
}

@media (max-width: 768px) {
  .layout-container {
    width: 100vw;
    height: 100vh;
    border-radius: 0;
    border: none;
  }
}

.header, .footer {
  display: flex;
  background-color: $primary-color;
  color: $text-color;
  width: 100%;
}

.content {
  display: flex;

  overflow: auto;
}

.leftbar-container {
  display: flex;
  flex-direction: row;

  border-radius: 10px;
  height: 100%;

}

.leftbar {
  background-color: #5456fc77;
  color: $text-color;
  flex: 0 0 200px;
}

@media (max-width: 768px) {
  .leftbar {
    position: absolute;
    flex: none;
    width: 0;
  }
}

.router-pane {
  background-color: white;
  color: black;
  flex: 1; /* Flex to fill available space */
  flex: 1 1 10px;
}

.rightbar {
  background: #6b6b6b59;
  color: $text-color;
  padding: 20px;
  flex: 1;
}
