<div class="home-container padding-20px">

    <h1>Welcome to my site.</h1>
     
    <!-- <div class="flex-row">
        <div class="flex-column padding-10px">
           col one
        </div>
        <div class="flex-column padding-10px">
           col two
        </div>
        <div class="flex-column padding-10px">
          col three
        </div>

    </div> -->


    Notice the design of this site:
    <ul>
        <li>No Frills</li>
        <li>Just Works</li>
        <li>Focus</li>
        <li>Poor CSS</li>

    </ul>

</div>
