
body
{
    background-color: black;
    color: white;
    
}
hbox
{
    display: flex;
    flex-direction: row;
    
}

.vbox
{
    display: flex;
    flex-direction: column;
    height: 100%;
    max-height: 100%;
    
    
}

.nowrap
{
    flex-wrap: 0;
}

.wrap
{
    flex-wrap: wrap;
}
.padding-20px
{
    padding: 20px;
}
.padding-10px
{
    padding: 10px;   
}