// Colors
$primary-color: #002efa54;
$secondary-color: #7575757e;
$success-color: #287fa7;
$danger-color: #dc3545;
$warning-color: #ffc107;
$info-color: #1a17b8;
$light-color: #f8f9fa;

$background: repeating-linear-gradient(to left, #0c44808c, #0c80808c, #0c80808c, #0c80808c, #0c80808c, #0c44804f);
$dark-color: #0c44808c;
$text-color: white;

// Typography
$font-family-base: 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
$font-size-base: 16px;
$line-height-base: 1.5;

// Spacing
$spacing-unit: 10px;