<div class="projects-container padding-20px">
    <h1>Projects</h1>
    None of these projects are fully mature or have more than a few hours of work put into them, not much more than wireframes. They have been assembled for this showcase recently.
    <ul>
        <li><a href="https://github.com/Brennername/pdfutils/tree/master">PDFutils - Java + Maven command line utility to extract x509 certs from PDFs.</a></li>
        <li><a href="https://github.com/Brennername/menu-maker">Menu Maker - Angular + Spring Boot application to build menus and requisitions for an institutional setting.</a></li>
        <li><a href="https://github.com/Brennername/MsgToEmlConverter">MsgToEmlConverter - Java + Maven command line utility to convert MSG to EML format.</a></li>
        <li><a href="https://github.com/Brennername/showcase">This Showcase - Angular + Node/Express</a></li>
        <li>More on the way.</li>
    </ul>
</div>
